<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:utext="${article.title}"></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		.article-container {
			max-width: 1000px;
			margin: 50px auto auto;
		}

		.article-content {
			text-align: justify;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
	<a class="navbar-brand" th:href="@{/magazines}">iMagazines</a>
</nav>

<div class="container article-container">
	<div class="row">
		<div class="col-12">
			<h2 th:utext="${article.title}">Article title</h2>
			<p class="card-text">Theme: <span th:utext="${article.theme}">Theme</span></p>
			<div class="article-content">
				<p th:utext="${article.text}">Article text</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
