<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Edit Magazine</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-expand navbar-light bg-light">
	<a class="navbar-brand" href="">Edit Magazine</a>
</nav>

<div class="container mt-5">
	<h1>Magazine</h1>
	<!-- Magazine Title and Theme Form -->
	<form th:action="@{''}" method="post">
		<div class="form-group">
			<label for="title">Magazine Title:</label>
			<input type="text" class="form-control" id="title" name="title" th:value="${magazine.title}" required>
		</div>
		<div class="form-group">
			<label for="theme">Magazine Theme:</label>
			<input type="text" class="form-control" id="theme" name="theme" th:value="${magazine.theme}" required>
		</div>
		<!-- Articles Section -->
		<h2>Articles</h2>
		<div th:each="article: ${magazine.articles}" class="card mb-3">
			<div class="card-body">
				<!-- Input fields for article properties -->
				<div class="form-group">
					<label th:for="${article.id} + ' title'">Article Title:</label>
					<input type="text" class="form-control" th:id="${article.id} + ' title'" name="articleTitle[]" th:value="${article.title}" required>
				</div>
				<div class="form-group">
					<label th:for="${article.id} + 'text'">Article Text:</label>
					<textarea class="form-control" rows="3" th:id="${article.id} + 'text'" name="articleContent[]" th:value="${article.title}" required></textarea>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Save Changes</button>
	</form>
</div>
</body>
</html>
