<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Magazines</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-expand navbar-light bg-light">
	<a class="navbar-brand" th:href="@{/magazines}">iMagazines</a>
</nav>

<!-- Main Body -->
<div class="container mt-5">
	<div class="row">
		<!-- Magazine Cards -->
		<div class="col-md-4 mb-4" th:each="magazine : ${magazines}">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title" th:utext="${magazine.title}">
						<a th:href="@{'/' + ${magazine.id}}">Magazine Title</a>
					</h5>
					<p class="card-text">Theme: <span th:utext="${magazine.subject}">Theme</span></p>
					<p class="card-text">Author: <span
						th:utext="${magazine.author.firstName + ' ' + magazine.author.lastName}">Author</span></p>
					<!-- Links for Editing and Deleting Magazine -->
					<div class="btn-group">
						<a th:href="@{'/magazines/edit/' + ${magazine.getId()}}" class="btn btn-primary">Edit</a>
						<form method="post" th:action="@{'/magazines/delete/' + ${magazine.getId()}}">
							<button  class="btn btn-danger">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
